<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compatibility Test</title>
</head>

<body>
<form action="/CompatibilitySystem" method="post">
<table width="1400" border="0" align="center">
  <tr>
    <!--<td width="1" height="5"><img src="img/ComSys.png"></td>-->
    <td bgcolor="#B9EDF7"><b>用户登录</b></td>
  </tr>
</table>
<br><br><br><br><br><br><br>
    <table width="500" border="0" align="center">
      <tr>
          <td width="60"><b>用户名:</b></td>
          <td ><input type="text" name="username" class="bule"/>
          </td>
          </td>
          <td class="font1"></td>
      </tr>
      <tr>
          <td><b>密码：  </b></td>
          <td>
          <input type="password" name="password" size="20"class="bule"/></td>
          <td class="font1"></td>
     </tr>
     <tr>
          <td colspan="3"><input type="submit" value="提交"/>
          </td>
     </tr>
    </table>
</form>
</body>

</html>